
<!-- lines -->
<div class="container m-auto row pl-0 justify-content-center bg-transparent">
    <hr class=" my-3 col-6" style="border-color:var(--color_second); ">
</div>
<div class="container m-auto row pl-0 justify-content-center ">
    <hr class="my-3 col-4" style="border-color:var(--color_third); ">
</div>
<div class="container m-auto row pl-0 justify-content-center ">
    <hr class="my-3 col-2" style="border-color:var(--color_second); ">
</div>