<div class="container contenido ">
    <section class="container text-center pag_error pl-2">
        <img src="/img/osoliam.png" alt="bear mi carta online">
        <h3>Hay un error, esa página aún no existe.</h3>
        <p>Inténtalo de nuevo...</p>
        <p>Que tengas la mejor de las suertes..!!</p>
        <a class="" type="button" href="javascript:window.history.go(-1)">Regresar..</a>
    </section>
</div>

<style>
    .pag_error {
        margin-top: 14%;
        margin-bottom: 14%;
    }
</style>