

<div class="container-fluid main-header fixed-top main_base pr-0">
  <header class="px-0 w-100">

    <nav class="navbar navbar-expand-lg px-0 navegacion">
      <div class="logo">
        <a class="navbar-brand" href="/">{{config.NAMEPROJECT}}</a>
      </div>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 d-flex justify-content-end pr-4">

        
          <li class="nav-item pl-lg-3">
            <a class="nav-link" href="/">
              Home
            </a>
          </li>
          {{#if user}}
            <li class="nav-item pl-lg-3">
              <a class="nav-link" href="/profile">
                Profile
              </a>
            </li>
          {{/if}}
          {{#if user}}
            <li class="nav-item pl-lg-3">
              <a class="nav-link" href="/admin">
                Admin
              </a>
            </li>
          {{/if}}
          {{#if user}}
            <li class="nav-item pl-lg-3">
              <a class="nav-link pr-0" id="restaurante" href="/logout"><i
                  class="fas fa-sign-out-alt 2x"
                ></i></a>
            </li>
          {{else}}
            <li class="nav-item pl-lg-3">
              <a class="nav-link pr-0" id="restaurante" href="/signin"><i
                  class="fas fa-sign-in-alt 2x"></i></a>
            </li>
          {{/if}}

        </ul>

      </div>
    </nav>

  </header>
</div>
<div class="vacio" >
  <!-- espacio vacio de 70px para la cabecera -->
</div>